:root {
  --main-bgc: #d5c7bc;
  --box-bgc: #f5efeb;
  --lighter-green: #459863;
  --darker-green: #14261C;
}


.home-mui-box {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Manage Event Styling */
.manage-event-buttons-and-list {
  width: 46vw;
  padding: 0 2vw;
  @media (max-width: 700px) {
    width: 96vw
  }
}

.manage-event-box {
  display: flex;
}

/* .manage-event-search {
  margin: 0 2vw;
} */

.manage-event-parent {
  margin-left: 0.5rem;
  margin-top: 1rem;

  margin: 2vw 0;
  width: 100%;
}

.manage-event-title {
  background-color: #324033;
  color: var(--main-bgc);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 0.5rem;
  width: 96vw;

  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;

  text-align: center;
  padding: 0;
  margin: auto;
  @media (max-width: 400px) {
    font-size: 1.3rem;
  }
}


.manage-event-text {
  color: #37403a;
  text-align: center;
  align-items: center;

  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.00938em;
  @media (max-width: 400px) {
    font-size: 0.7rem;
  }
}

.manage-event-boxes {
  display: flex;
  align-items: center;
  /* margin: 1vw; */
  justify-content: center;
}

.manage-event-buttons-box {
  display: flex;
  gap: 3vw;
  @media (max-width: 700px) {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.manage-event-buttons {
  background-color: var(--lighter-green) !important;
  color: white !important;
  @media (max-width: 700px) {
    min-width: 8rem;
    max-width: 8rem;
    font-size: 0.7rem;
    padding: 0;
  }
}


.manage-event-button {
  background-color: var(--lighter-green) !important;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

/* Search Bar Styling */

.search-volunteers {
  background-color: var(--box-bgc);
  border-radius: 0.25rem;
}

.search-volunteers .MuiOutlinedInput-root {
  border-radius: 0.25rem;
  border-color: var(--box-bgc);
}

.search-volunteers .MuiOutlinedInput-root:hover fieldset {
  border-color: var(--lighter-green) !important;
}

.search-volunteers .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: var(--lighter-green) !important;
  border-radius: 0.25rem;
}

/* Registered Vols Styling */

.registered-vols-list-container {
  overflow: scroll;
  max-height: 65vh;
  /* margin-left: 2vw; */
  @media (max-width:400px) {
    max-height: 45vh;
  }
}

.registered-vols-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 8px;
  /* position: relative;
  z-index: 0; */

  @media (max-width: 400px) {
    margin-bottom: 0;
    gap: 0;
  }
}

.registered-vols-list-item {
  color: #02100b;
  background-color: var(--lighter-green) !important;
  opacity: 0.8;
  margin: 0.5rem !important;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  border-radius: 0.25rem;
  padding: 0.5rem !important;
  @media (max-width:400px) {
    font-size: 0.8rem;
    padding: 0 3vw;
    margin: 0.5vh 2vw;
  }
}

/* Check In Button Styles */
.check-in-button-checkbox {
  border: 0.3rem solid var(--lighter-green) !important;
  border-radius: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--lighter-green) !important;
  padding: 0.3rem !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: var(--lighter-green) !important;
}

/* More Info Button Styling */
  
.more-info-button {
  display: flex;
  justify-content: center;
  width: 48vw;
  overflow: scroll;
  margin: 0 1vw;
  height: 77vh;
  position: fixed;
  top: 22vh;
  left: 49vw;
  @media (max-width: 700px) {
    width: 98vw;
    left: 0;
    top: 18vh;
    background-color: var(--lighter-green) !important;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.more-info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.3rem;
  border-radius: 0.5rem;
  box-shadow: 0 .25rem 0.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.more-info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* User Profile Page Parent*/
.user-profile-page-parent {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* max-height: 100vh; */
}

/* User Profile Styling */

.user-profile-page-container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.user-profile-container {
  max-width: 45rem;
  position: absolute;
  background-color: var(--lighter-green) !important;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  max-height: 83vh;

  
  width: 100%;
  display: flex;
  justify-content: center;
}

.user-profile-inner-container {
  width: 90%;
  margin-top: 2rem;
}

/* User Profile Title */
.user-profile-title {
  color: var(--darker-green);
  margin-bottom: 2rem;
}

.user-profile-form {
  margin: none;
  padding: none;
}

/* Paper formatting */
.user-profile-form-section {
  padding: 2rem;
  margin-bottom: 3rem;
}

/* Button container for cancel, save, edit */
.user-profile-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

@media (max-width: 600px) {
  .user-profile-container {
    background-color:rgba(0, 0, 0, 0) !important;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    max-height: unset;
  }

  .user-profile-title {
    color: var(--darker-green);
    margin-bottom: 1rem;
  }

  .user-profile-form {
    overflow: scroll;
    scrollbar-width: none;
    height: 69vh;
  }

  .user-profile-form-section {
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .user-profile-buttons {
    gap: 1rem;
    margin-top: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
  }
}

/* Database styling */

.database-search {
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.database-parent {
  margin-left: 0.5rem;
  margin-top: 1rem;
  width: 50%;
}

.database-buttons {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  gap: 1rem;
}

.database-container {
  overflow: auto;
  max-height: 74vh;
  margin-left: 1.5rem;
  background-color: var(--main-bgc);
}
.database-list-item {
  color: #000000;
  background-color: var(--box-bgc);
  flex: 1;
  max-width: 50.25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
  padding: .5rem;
  margin-bottom: 1.5rem;
}

.database-names,
.database-emails,
.database-more-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.database-names,
.database-email {
  width: 12rem;
  overflow: hidden;
}

.database-names {
  justify-content: flex-start;
}

.database-emails {
  justify-content: flex-start;
}

.database-more-info {
  flex-grow: 1;
  justify-content: flex-end;
}

.add-event-container {
  display: flex;
  padding: 0;
}

.add-event-button {
  background-color: var(--lighter-green) !important;
  color: white !important;
  width: 9.5rem;
  margin-right: 0.5rem;
}

.add-volunteer-container {
  display: flex;
  padding: 0;
}

.add-volunteer-button {
  background-color: var(--lighter-green) !important;
  color: white !important;
  margin-left: 10px;
}

.events-container {
  background-color: var(--main-bgc);
  padding: 16px;
}

.events-flex-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .events-flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.your-events-container,
.upcoming-events-container {
  flex-grow: 1;
  margin: 8px;
  border-radius: 8px;
  background-color: lightgrey;
  padding: 20px;
}

.upcoming-events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar container */
.navbar {
    background-color: var(--lighter-green) !important;
}

/* Hamburger menu for small screens */
.nav-hamburger {
  flex-grow: 1;
  display: flex;
}

/* Navbar title for small screens */
.navbar-title-xs {
  display: flex;
  flex-grow: 1;
  font-family: monospace;
  font-weight: 700;
  letter-spacing: 0.3rem;
  color: var(--main-bgc);
  text-decoration: none;
  justify-content: center;
}

/* Logo positioning */
.logo-container {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

/* Center logo on small screens, left-align on larger screens */
.logo-image {
  cursor: pointer;
  object-fit: contain;
  width: auto;
}

@media (min-width: 900px) {
  .logo-container {
    justify-content: flex-start;
  }
  .nav-hamburger {
      display: none;
    }
  .nav-buttons {
    display: flex !important;
  }

  .nav-button {
    display: flex; /* Ensure buttons are visible */
    margin: 0 1rem !important;
    color: var(--main-bgc) !important;
  }
}

@media (max-width: 900px) {
  .nav-buttons {
    display: none;
  }
}

/* Navigation buttons */
.nav-buttons {
  margin-left: auto;
  margin-right: 3rem;
}

/* Profile menu */
.profile-icon {
  padding: 0;
}

.profile-menu-item {
  text-align: center;
}


/* Volunteer Events List */

.vol-events-list-box {
  overflow: auto;
  max-height: 65vh;
  border-radius: 8px;
  padding: 0;
}

.vol-events-list-item {
  background-color: var(--box-bgc);
  padding: 10px;
  max-width: 95%;
  margin: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 6px 6px rgb(14, 120, 21);
}

.vol-events-list-item-box {
  flex-grow: 1;
  margin-right: 1vh;
}

/* Welcome */

.welcome-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30vw;
}

.welcome-content-box {
  padding: 2rem;
  width: 80%;
  height: 70vh;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #324033;
  border-radius: .5rem;
  color:var(--main-bgc);
  max-width: 28rem;
  justify-content: center;
}

.welcome-h4 {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 3.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.welcome-h5 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  letter-spacing: 0em;
  margin: 0;
  margin-bottom: 22px;
  margin-top: 22px;
  text-align: center;
}

.welcome-hr {
  width: 100%;
  border-color: var(--main-bgc);
}
@media (max-width: 800px) {
  .home-mui-box {
    flex-direction: column;
  }

  .welcome-box {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }

  .welcome-content-box {
    width: 80%; 
    padding: 4vw; 
  }

  .login-button-container {
    margin-top: 2vh;
  }
  .welcome-h4 {
    font-size: 8vw;
  }
  .welcome-h5 {
    font-size: 5vw;
  }
}

/* Login Button */

.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}

.login-button {
  background-color: var(--lighter-green) !important;
  padding: .8vh 3vh;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

/* Delete event button */

.dialog-actions .cancel-delete-button {
  color: #3f51b5; 
}

.dialog-actions .delete-event-button {
  color: #f50057; 
}



/* Edit Event Form */
.edit-event-form {
  padding-top: 1rem; 
}

.edit-event-form .text-field {
  margin-top: 1rem; 
}

.edit-event-form .form-control {
  margin-top: 1rem;
}

/* EventList */
.event-list {
  width: 100%;
  max-width: 22.5rem; 
  background-color: #23231a;
}

/* Admin Contact Info */
.admin-contact-container {
  flex: 1;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 30vw;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}

.admin-contact-card {
  padding: 2rem;
  width: 30vw;
  height: 70vh;
  margin: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #324033;
  border-radius: 0.5rem;
  color: #D5C7BC;
  max-height: 34rem;
  max-width: 28rem;
  justify-content: center;
}


.admin-contact-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: -6rem;
  margin-bottom: 2.75rem;
  font-size: 3vw;
  font-weight: 400;
  text-align: center;
}

.admin-contact-item {
  text-align: center;
  color: #D5C7BC;
  margin-top: 1rem;
}

.admin-contact-name {
  font-size: 2vw;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

.admin-contact-email,
.admin-contact-phone {
  font-size: 1vw;
  margin-bottom: 0.25rem;
}

.admin-contact-divider {
  width: 100%;
  border: none;
  border-top: 0.0625rem solid #D5C7BC;
  margin-top: 2rem;
}

@media (max-width: 800px) {
  .admin-contact-container {
    flex-direction: column; 
    justify-content: center;
    align-items: center;
  }
  .admin-contact-card {
    width: 80%; 
    padding: 4vw; 
  }
  .admin-contact-title {
    font-size: 8vw;
  }
  .admin-contact-name {
    font-size: 6vw;
  }
  .admin-contact-item {
    font-size: 6vw;
  } 
  .admin-contact-email,
  .admin-contact-phone {
    font-size: 4vw;
  }
}

/* Cancel Signup Button */

.cancel-signup-button {
  background-color: #459863;
  padding: 0.375rem 0.625rem;
  margin: 0 0.125rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.cancel-signup-button:hover {
  background-color: #D93C63;
}

.cancel-signup-dialog-text {
  margin: 0.9375rem;
}

/* Mobile Responsiveness for Nav Bar logo */

@media (max-width: 800px) {
  .logo-container {
    justify-content: center; 
  }
  
  .logo-button {
    display: flex;
    justify-content: center;
    padding: 0;
    min-width: unset;
  }
}
